.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#letter-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    font-weight: bolder;
    position: absolute;
    font-size: 30rem;
    visibility: hidden;
}
