.timer {
  position: relative;
  border-radius: 10px;
  border: 2px solid #fafafa;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  width: 80vw;
  height: 100%;
  font-size: 5rem;
  box-shadow: 3px 3px #fafafa;
}

.progress-bar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 1s linear; /*0.5s ease-in-out*/
}

.time-display {
  z-index: 2;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}
