/*@import './global-styles/buttons.css';
@import './global-styles/inputs.css';
@import './global-styles/vars.css';*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 100%;

    /*outline: solid 1px #257017;*/
    /*outline-offset: -1px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;

    color: white;
}

body {
    background-color: black;
    font-size: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.letter {
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings: "MONO" 1;
}

