.toolbar {
    position: fixed;
    bottom: 10px;
    justify-content: space-around;
    width: 100%;
    z-index: 10;
}

.headbar {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#countdown-container {
  position: fixed;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 7rem;
  visibility: hidden;
}

#select-letter-container {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.letter {
    position: absolute;
    top: -36rem;
    font-size: 30rem;
}
