.body {
    height: 100vh;
}

.toolbar {
    position: fixed;
    bottom: 10px;
    justify-content: space-around;
    width: 100%;
}

.headbar {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}